@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:900');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
$font: 'Lato', sans-serif;
$big: 'Montserrat', sans-serif;

$red: #EF2F3C;
$white: #F6F4F3;
$blue: #276FBF;
$dark: #183059;
$yellow: #F0A202;
$black: #070707;

$star: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);

html {
  display: grid;
  min-height: 100%;
}

body {
  display: grid;
  background-color: $dark;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: black;
}

.nav-container{
  background-color: $yellow;
  height: 8vh;
}
.dashboard-container{
  width: 100vw;
  height: 50vw;
  background-color: $dark;
}

nav{
  width: 95%;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.logo{
  height: 7vh;
  margin-top: 2px;
}

.logo-name{
  font-family: $font;
  text-align: center;
  margin-top: 1em;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: $dark;
  font-weight: 700;
  margin-left: 154px;
}

.logo img{
  height: 100%;
  clip-path: circle(50%);
}

.nav-links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
  margin-top: 15px;
}

.nav-links li a:hover{
  color: white;
}

.nav-links li:hover{
  transform: scale(1.4);
  transition: 0.6s;
}

.container {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 800px;
  margin-top: 2%;
}
.align{
  padding: 20px;
  border-radius: 5px;
  background: #EF2F3C;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
}


h1 {
  font-family: $font;
  text-align: center;
  margin-top: 2em;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: $white;
}

#timer {
  color: $white;
  text-align: center;
  text-transform: uppercase;
  font-family: $font;
  font-size: .7em;
  letter-spacing: 5px;
  margin-top: 25%;
}

/*.days, .hours, .minutes, .seconds {
  display: inline-block;
  padding: 20px;
  border-radius: 5px;
}*/

.numbers-container{
  display: flex;
  justify-content: space-around;
}

.days {
  background: $red;
}

.hours {
  background: $white;
  color: $dark;
}

.minutes {
  background: $blue;
}

.seconds {
  background: $yellow;
}

.numbers {
  font-family: $big;
  color: $dark;
  font-size: 4em;
}

.numbers-alpha{
  font-family: $big;
  color: $dark;
  font-size: 1em;
}

.white {
  position: absolute;
  background: $white;
  height: 85px;
  width: 75px;
  left: 30%;
  top: 7%;
  .triangle {
    border-bottom: 14px solid $white;
  }
  .string {
    background: $white;
    border: 1px solid $white;
  }
}

.red {
  position: absolute;
  background: $red;
  left: 11%;
  top: 12%;
  height: 65px;
  width: 70px;
  .triangle {
    border-bottom: 14px solid $red;
  }
  .string {
    background: $red;
    border: 1px solid $red;
  }
}

.redout{
  position: absolute;
  background: $red;
  left: 90%;
  top: 30%;
  height: 65px;
  width: 70px;
  transform: rotateZ(310deg);
  .triangle {
    border-bottom: 14px solid $red;
  }
  .string {
    background: $red;
    border: 1px solid $red;
  }
}

.whiteout{
  position: absolute;
  background: $white;
  left: 90%;
  top: 90%;
  height: 65px;
  width: 70px;
  transform: rotateZ(310deg);
  .triangle {
    border-bottom: 14px solid $red;
  }
  .string {
    background: $red;
    border: 1px solid $red;
  }
}

.roseout{
  position: absolute;
  background: #FF00FF;
  left: 90%;
  top: 60%;
  height: 65px;
  width: 70px;
  transform: rotateZ(310deg);
  .triangle {
    border-bottom: 14px solid $red;
  }
  .string {
    background: $red;
    border: 1px solid $red;
  }
}


.blueout{
  position: absolute;
  background: $blue;
  left: 10%;
  top: 30%;
  height: 65px;
  width: 70px;
  transform: rotateZ(45deg);
  .triangle {
    border-bottom: 14px solid $red;
  }
  .string {
    background: $red;
    border: 1px solid $red;
  }
}

.greenout{
  position: absolute;
  background: #006400;
  left: 10%;
  top: 60%;
  height: 65px;
  width: 70px;
  transform: rotateZ(45deg);
  .triangle {
    border-bottom: 14px solid $red;
  }
  .string {
    background: $red;
    border: 1px solid $red;
  }
}

.yellowout{
  position: absolute;
  background: $yellow;
  left: 10%;
  top: 90%;
  height: 65px;
  width: 70px;
  transform: rotateZ(45deg);
  .triangle {
    border-bottom: 14px solid $red;
  }
  .string {
    background: $red;
    border: 1px solid $red;
  }
}

.blue {
  position: absolute;
  background: $blue;
  height: 80px;
  width: 80px;
  left: 55%;
  top: 8%;
  .triangle {
    border-bottom: 14px solid $blue;
  }
  .string {
    background: $blue;
    border: 1px solid $blue;
  }
}
.yellow{
  position: absolute;
  background: #F0A202;
  height: 80px;
  width: 80px;
  left: 81%;
  top: 8%;
  .triangle {
    border-bottom: 14px solid #F0A202;
  }
  .string {
    background: #F0A202;
    border: 1px solid #F0A202;
  }
}


.but-container{
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 10%;
}

.but-container .create-grp:hover{
  transform: scale(1.2);
  transition: 0.6s;
}

.but-container .join-grp:hover{
  transform: scale(1.2);
  transition: 0.6s;
}

.but-container .leader-board:hover{
  transform: scale(1.2);
  transition: 0.6s;
}
.but-container .leave-grp:hover{
  transform: scale(1.2);
  transition: 0.6s;
}

.but-container .leaderboard-grp:hover{
  transform: scale(1.2);
  transition: 0.6s;
}

.but-container .Delete-grp:hover{
  transform: scale(1.2);
  transition: 0.6s;
}

.reset-btn:hover{
  transform: scale(1.2);
  transition: 0.6s;
}

.btn-align{
  font-family: $big;
  color: $dark;
  font-size: 1em;
  align-items: center;
}

.heading-txt-align{
  font-family: $big;
  color: $white;
  font-size: 1em;
}

.resetbtn-align{
  font-family: $big;
  color: $red;
  font-size: 1em;
  align-items: center;
  margin-left: 44%;
}

.leave-grp{
  background-color: $yellow;
  display: inline-block;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.Delete-grp{
  background-color: $black;
  display: inline-block;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.Delete-grp-align{
  font-family: $big;
  color: $white;
  font-size: 1em;
  align-items: center;
}

.create-grp{
  background-color: $red;
  display: inline-block;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.leaderboard-grp{
  background-color: $blue;
  display: inline-block;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.reset-btn{
  display: flex;
  background-color: $black;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10%;
  margin-top: 5%;
  width: 80%;
  cursor: pointer;
}

.join-grp{
  background-color: $white;
  display: inline-block;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.leader-board {
  background-color: $blue;
  display: inline-block;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.grp-pop-align{
  font-family: $font;
  color: darkblue;
  font-style: normal;
  font-weight: bolder;
}

.balloon {
  border: 1px solid #000;
  border-radius: 50% 50% 50% 50%/ 40% 40% 60% 60%;
  z-index: 2;
}

.eye {
  position: absolute;
  width: 7px;
  height: 7px;
  top: 40%;
  left: 22%;
  background: #000;
  border-radius: 50%;
  &:after {
    content: '';
    left: 35px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #000;
    position: absolute;
  }
}

.mouth {
  position:absolute;
  top: 45%;
  left: 43%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.happy {
  border: 2px solid;
  border-color: transparent #000 #000 transparent;
  transform: rotate(45deg);
}

.triangle {
  position: absolute;
  left: 40%;
  bottom: -10%;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.string {
  position: absolute;
  height: 70px;
  width: 1px;
  left: 48%;
  top: 100%;
  z-index: -1;
}

.star {
  width: 20px;
  height: 20px;
  background: $white;
  -webkit-clip-path: $star;
  clip-path: $star;
}

.star-red {
  width: 30px;
  height: 30px;
  margin-left: 51px;
  margin-top: -5px;
  background: $red;
  -webkit-clip-path: $star;
  clip-path: $star;
}

.animate-charcter
{
  text-transform: uppercase;
  background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 20px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
