
<div class="dashboard-container">

  <div class="nav-container">
    <nav>
      <div class="logo">
        <img src="assets\streakify.jpg" alt="Logo">
      </div>
      <div class="logo-name-container" style="margin-top: 7px;
            margin-left: 150px">
        <div class="row">
          <div class="col-md-12 text-center">
            <h3 class="animate-charcter" style="font-family: 'Poppins', sans-serif;"> STREAK PAL</h3>
          </div>
        </div>
      </div>
      <ul class="nav-links" style="margin-right: -80px;">
        <li><a href="#" (click)="logout()">Logout</a></li>
      </ul>
    </nav>
  </div>
  <div class="heading-txt-align">
    <h1>Welcome,{{userName}}</h1>
  </div>
  <div class="container">
    <div class="balloon white">
      <div class="star-red"></div>
      <div class="face">
        <div class="eye"></div>
        <div class="mouth happy"></div>
      </div>
      <div class="triangle"></div>
      <div class="string"></div>
    </div>
    <div class="balloon red">
      <div class="star"></div>
      <div class="face">
        <div class="eye"></div>
        <div class="mouth happy"></div>
      </div>
      <div class="triangle"></div>
      <div class="string"></div>
    </div>
    <div class="balloon blue">
      <div class="star"></div>
      <div class="face">
        <div class="eye"></div>
        <div class="mouth happy"></div>
      </div>
      <div class="triangle"></div>
      <div class="string"></div>
    </div>
    <div class="balloon yellow">
      <div class="star"></div>
      <div class="face">
        <div class="eye"></div>
        <div class="mouth happy"></div>
      </div>
      <div class="triangle"></div>
      <div class="string"></div>
    </div>
    <div id="timer"></div>
    <div class="numbers-container">
      <div class="days align">
        <div class="numbers">{{day}}</div>
        <div class="numbers-alpha">Days</div>
      </div>
      <div class="hours align">
        <div class="numbers">{{hours}}</div>
        <div class="numbers-alpha">Hours</div>
      </div>
      <div class="minutes align">
        <div class="numbers">{{min}}</div>
        <div class="numbers-alpha">Minutes</div>
      </div>
      <div class="seconds align">
        <div class="numbers">{{seconds}}</div>
        <div class="numbers-alpha">Seconds</div>
      </div>
    </div>
    <div class="reset-btn" (click)="refreshStreakCount()">
      <div class="resetbtn-align">
        Reset
      </div>
    </div>
    <div class="but-container">
      <div *ngIf = "isInGroup">
      <div class="leave-grp" data-bs-toggle="modal" data-bs-target="#leaveGroup">
        <div class="btn-align" >
          Leave Group
        </div>
      </div>
      </div>
      <div *ngIf = "!isInGroup">
      <div class="create-grp mr-2" data-bs-toggle="modal" data-bs-target="#createGroup">
        <div class="btn-align" >
          Create Group
        </div>
      </div>
      <div class="join-grp" data-bs-toggle="modal" data-bs-target="#joinGroup">
        <div class="btn-align" >
          Join Group
        </div>
      </div>
      </div>
      <div *ngIf = "isInGroup"  class="leaderboard-grp" data-bs-toggle="modal" data-bs-target="#leaderboardGroup">
        <div class="btn-align" >
          LeaderBoard
        </div>
      </div>
    </div>

    <!-- Create Group Modal -->
    <div class="modal fade " id="createGroup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createGroupLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content" style="background-color:#EF2F3C;">
          <div class="modal-header">
            <h1 class="modal-title fs-5 grp-pop-align" id="createGroupLabel">Create Group</h1>
          </div>
          <div class="modal-body">
            <div class="input-box">
              <input type="text" id="groupName" name="groupName" [(ngModel)]="group.groupName" placeholder="Enter group name" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id = "createGroupModalCloseButton" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            <button type="submit"  class="btn btn-primary" (click) = "createGroup()">Create</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Join group Modal -->
    <div class="modal fade" id="joinGroup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="joinGroupLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 grp-pop-align" id="joinGroupLabel">Join Group</h1>
          </div>
          <div class="modal-body">

            <form (ngSubmit)="joinGroup()" id="joinGroupForm">
              <select  name="groupName" id = "joinGroupSelect" class="form-select form-select-lg mb-3" [(ngModel)]="group.groupName" required>
                <option [ngValue]="undefined" hidden>Open this select group</option>
                <option *ngFor="let group of listOfGroups" [value] = "group.groupName">{{group.groupName}}</option>
              </select>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" id = "joinGroupModalCloseButton" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            <button type="submit" form = "joinGroupForm" class="btn btn-primary" (click) = "whenJoinGroupButtonClicked()">Join</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Leave group Modal -->
    <div class="modal fade" id="leaveGroup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="leaveGroupLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content" style="background-color:#F0A202;">
          <div class="modal-header">
            <h1 class="modal-title fs-5 grp-pop-align" id="leaveGroupLabel">Leave Group</h1>
          </div>
          <div class="modal-body">
            <p>Are you sure want to leave the group ?</p>
          </div>
          <div class="modal-footer">
            <button type="button" id = "leaveGroupModalCloseButton" class="btn btn-success" data-bs-dismiss="modal">Close</button>
            <button type="submit" form = "joinGroupForm" class="btn btn-danger" (click) = "whenLeaveGroupButtonClicked()">Leave</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Leaderboard Modal -->
  <div class="modal" id="leaderboardGroup">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color:#276FBF;">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title grp-pop-align">LeaderBoard</h4>
          <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>UserName</th>
              <th>Streak time</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of leaderBoard">
              <td>{{data.userName}}</td>
              <td>{{data.date}}</td>
            </tr>
            </tbody>
          </table>
        </div>


        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" id = "leaderboardclosebutton" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
  <!--delete group -->
  <div class="modal fade" id="deleteGroup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteGroupLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color:#F0A202;">
        <div class="modal-header">
          <h1 class="modal-title fs-5 grp-pop-align" id="deleteGroupLabel">Delete Group</h1>
        </div>
        <div class="modal-body">
          <p>Are you sure want to Delete the group ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" id = "deleteGroupModalCloseButton" class="btn btn-success" data-bs-dismiss="modal">Close</button>
          <button type="submit" form = "joinGroupForm" class="btn btn-danger" (click) = "deleteGroup()">Delete Group</button>
        </div>
      </div>
    </div>
  </div>

</div>
