
<div class="flex-container">
  <div style="flex-basis: 80%">{{data.msg}}</div>
  <div style="flex-basis: 20%">
    <button mat-flat-button (click)="snackBarRef.dismiss()">{{data.action}}</button>
  </div>
</div>

