<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <!-- <link rel="stylesheet" href="style.css"> -->
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Create Account</div>
    <div class="content">
      <form (ngSubmit)="userRegister()">
        <div class="user-details">
          <div class="input-box">
            <span class="details">User Name</span>
            <input [ngStyle]="{'border': error!=null ? '2px solid red':' 1px solid #ccc' }" type="text" id="userName" name="userName" [(ngModel)]="user.userName" placeholder="Enter your name" required>
          </div>

          <div class="input-box">
            <span class="details">Display Name</span>
            <input type="text" id="displayName" name="displayName" [(ngModel)]="user.displayName" placeholder="Enter your username" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" id="password" name="password" [(ngModel)]="user.password" placeholder="Enter your password" required>
          </div>
          <!-- <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="text" placeholder="Confirm your password" required>
          </div> -->
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>

</body>
</html>
